#register .container #register-row #register-column #register-box {
    max-width: 600px;
    height: auto;
    border: 1px solid #9C9C9C;
    background-color: #EAEAEA;
}
#register .container #register-row #register-column #register-box #register-form {
    padding: 20px;
}
#register .container #register-row #register-column #register-box #register-form #register-link {
    margin-top: -85px;
}